body{
	padding: 0px;
    margin: 0px;
    background-image: url('../images/doctor.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    letter-spacing: 1px;
    font: 400 15px Lato, sans-serif;
	line-height: 1.8;
	font-family: Montserrat, sans-serif;
}
.text-light{
	color: #ffffff !important;
}
.m-0{
	margin: 0px !important;
}
.header{
	background: #67b167;
}
.logo{
	display: inline-flex !important;
}
.logo>h3{
	padding: 10px 0px;
}
.navbar{
	display: inline-flex !important;
	float: right;
}
.navbar ul{
	display: flex;
	flex-direction: row;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.navbar li{
	padding: 12px 22px;
	color: #ffffff;
}
.navbar li:hover{
	background-color: #ffffff;
	cursor: pointer;
}
.navbar li:hover a{
	color : #67b167 !important;
}
.navbar a{
	color: #ffffff;
	text-decoration: none;
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.logo img{
	width: 60px;
	height: 50px;
}
.headlines{
	text-align:center;
	padding: 0px;
	margin:200px;
	color: #336733;
}



