body{
	padding: 0px;
    margin: 0px;
    letter-spacing: 1px;
    font: 400 15px Lato, sans-serif;
	line-height: 1.8;
	font-family: Montserrat, sans-serif;
	background-color: #ebffef;
}
.text-light{
	color: #ffffff !important;
}
.m-0{
	margin: 0px !important;
}
.p-0{
	padding: 0px !important;
}
.header{
	background: #67b167;
}
.logo{
	display: inline-flex !important;
}
.logo>h3{
	padding: 10px 0px;
}
.navbar{
	display: inline-flex !important;
	float: right;
}
.navbar ul{
	display: flex;
	flex-direction: row;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.navbar li{
	padding: 12px 22px;
	color: #ffffff;
}
.navbar li:hover{
	background-color: #ffffff;
	cursor: pointer;
}
.navbar li:hover a{
      color: #67b167;
}
.navbar a{
	color: #ffffff;
	text-decoration: none;
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.logo img{
	width: 60px;
	height: 50px;
}
.banner{
    position: relative;
    top: 0px;
}
.banner>img{
	width: 100%;
}
.headlines{
	position: absolute;
	top: 300px;
	left: 450px;
	text-align: center;
	padding: 0px;
	color: #336733;
}
.footer{
	background: #67b167;
	position: relative;
	bottom: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.address{
	padding: 20px;
	color: #ffffff;
	width: 20%;
}
.contact{
	padding: 20px;
	color: #ffffff;
	width: 50%;
}
.menu{
	padding: 20px;
	color: #ffffff;
	width: 30%;
}
.menu a{
	display: block;
	text-decoration: none;
	color: #ffffff;
	text-transform: capitalize;
}
form h1{
	text-align:left;
	text position:left;
	margin: 5px;
	background-color:#90EE90
}
.reg-form label{
	display:block;
    margin-bottom:4px;
    position: relative; 
    padding-left:30px; 
    cursor: pointer;
}
label{
	display:block;
    margin-bottom:4px;
    position: relative; 
    padding-left:30px; 
}
label + input {
  width: 30%;
  margin: 0 10% 0 1%;
}
.label-align input[type="checkbox"] {
  cursor: pointer;
  margin-top: 0px;
  margin-left: 0px;
  padding: 0px;
}
.about-section p{
	padding:50px;
    text-align:center;
    background-color:#38a038; 
    color: white;
    margin-bottom: 16px;
}
.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.row{
	display: flex;
}
.col{
	flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    margin: 10px;
}
textarea {
    resize: none;
}
.contact-page-body{
    padding: 50px 20px;
    height: 60%;
}
.contact-page-body>div{
	width: 50%;
}
.send-btn{
	max-width: 25% !important;
	padding: .375rem .75rem;
	font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    background-color: #505050;
    background-clip: padding-box;1
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.container{
	margin-left: auto;
    margin-right: auto;
}
.text-theme{
	color: #336733;
}
.font-normal{
	font-weight: normal;
}
.font-bold{
	font-weight: bold;
}
.contact-form{
	margin:30px;
	padding: 10px;
	background-color:#00CD32; 
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
.dept-section{
	background-color:#cef5d8;
	padding: 5px;
	margin: 2px;
}



